@font-face {
  font-family: Raleway;
  src: url(fonts/Raleway-Regular.ttf);
}

@font-face {
  font-family: TeX;
  src: url(fonts/texgyreschola-regular.otf) format("opentype");
  /*font-style: italic;*/
}


html, body, h1, h2, h3, h4, h5, a, ul, li {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: monospace;
    vertical-align: baseline;
    border: 0;
    outline: 0;
    background: transparent;
    color: #D0D0D0;
}

img {
    border: none;
}

a, a:visited {
    text-decoration: none;
    color: dimgray;
    border-bottom: 1px dotted;
}

a:hover {
    color: tomato;
}



#content {
    width: 50%;
    min-width: 800px;
    margin: auto;
}

#left {
    float: left;
    /*width: 20%;*/
}

#center {
    float: left;
    /*width: 60%;*/
    min-width: 460px;
}

#right {
    float: left;
    /*width: 20%;*/
}



#legend {
    float: right;
    margin: 40px 40px 0 0;
    list-style: outside none none;
}

#legend li {
    list-style-type: none;
    display: block;
    padding: 5px 0 0 0;
    margin: 0;
    font-size: 20px;
}


#options {
    margin: 20px 0 0 0;
    list-style: outside none none;
}

#options li {
    list-style-type: none;
    display: block;
    padding: 5px 0 0 0;
    margin: 0;
}



.label {
    /*color: #909090;*/
}


svg {
  font: 10px monospace;
  margin: 20px auto;
  display: block;
}

svg circle.point {
    stroke: none;
    /*fill: #D0D0D0;*/
}

svg circle.point:hover {
    fill: #ff9900;
    cursor: pointer;
}

svg path {
    fill: none;
    stroke-width: 1px;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    stroke-miterlimit: 4;
}

svg path.grid {
    stroke-dasharray: 4;
    stroke-opacity: 0.4;
    stroke: #909090;
}

svg circle.grid {
    fill: none;
    stroke-dasharray: 4;
    stroke-opacity: 0.4;
    stroke: #909090;
}
